*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  padding:0;
  margin:0;
}



 /* Scroll top */
 .scroll-top{
  position: fixed;
  bottom: -100%; /* this suppose to be "2rem" */
  right: 1.5rem;
  z-index: 300;
}

.scroll-top .bx{
  padding: 7px;
  font-size: 1rem;
  color: #02070f;
  background: #fdba04;
  border-radius: 0.2rem;
}


.scroll-top .bx:hover{
  background: #bef049;
  transition: 0.3s;
  color: var(--brand1-color);
}

.scroll-active{/* The key word "scroll-active" is from Js and the dot behind it is from html */
  bottom: 2rem;
  transition: 0.3s;
}



/* utility */
/* .topic{
  color: #8b670c;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */


.portfolio-topic{
  color: transparent;
  font-family: 'Noto Serif', serif;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
  display: block;
  overflow: hidden;
  position: relative;
}
.portfolio-topic span{
  display: inline-block;
  transform-style: preserve-3d;
  position: relative;
}
.portfolio-topic span:before,
.portfolio-topic span:after{
  content: attr(data-title);
  color: rgba(221, 210, 210, 0.2);
  transform-origin: left top;
  transform: scale(1.1, 1) skew(0deg, 20deg);
  position: absolute;
  top: 0;
  left: -1px;
  animation: anime 0.8s alternate infinite;
}
.portfolio-topic span:after{
  color: #8b670c;
  text-shadow: -1px 0 1px #8b670c, 1px 0 1px rgba(0,0,0,0.8);
  transform: rotateY(-50deg);
  z-index: 2;
  animation: anime 0.8s alternate infinite;
}
@keyframes anime{
  100%{
      transform: scale(1.1, 1) skew(0deg, 5deg);
      transform: rotateY(-10deg);
  }
}




@media screen and (max-width: 954px){
  .portfolio-topic{
    font-size: 60px;
  }
}

@media screen and (max-width: 698px){
  .portfolio-topic{
    font-size: 50px;
  }
}

@media screen and (max-width: 498px){
  .portfolio-topic{
    font-size: 40px;
  }
}

@media screen and (max-width: 322px){
  .portfolio-topic{
    font-size: 30px;
  }
}












/* Animation */
@keyframes slideInFromLeft{
  0%{
      transform: translateX(-100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromRight{
  0%{
      transform: translateX(100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromTop{
  0%{
      transform: translateY(-100%);
  }
  
  100%{
      transform: translateX(0);
  }
}

@keyframes slideInFromBottom{
  0%{
      transform: translateY(50%);
  }
  
  100%{
      transform: translateX(0);
  }
}



body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    /* background-color: rgba(27, 47, 69, 0.7); */
    background-color:#0b1421;
    /* background-color:  #1b2f45; */
    display: flex;;
    min-height: 100vh;
    flex-direction: column;
  }

  main{
    flex: 1 0 auto;
  }

  
  /* Global */
  .container{
    max-width: 1100px;
    width:80%;
    margin:auto;
    overflow:hidden;
  }


  header{
    background-color: transparent;
    top: 0; 
    position: fixed;
    width: 100%;
    z-index: 300;
    height: 55px;
  }
  
  .header-active{
    background-color: #02070f;
    border-bottom: 2px solid #313133;
    transition: 0.4s;
    -webkit-background-composite:  #02070f;
    /* -moz-backface-visibility: visible; */
  }
  
  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  header .headerlogo a{
    font-size: 35px;
    color: #bef049;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  nav li{
    display: inline;
    padding-left: 6px;
    text-transform: uppercase;
  }
  
  nav a{
    font-weight: bold;
    padding: 4px;
    color: #fff;
    border-radius: 2px;
    /* border-right: 1px solid #bef049; */
  }
  .current a{
    background-color: #bef049;
    color: #0b1421;
  }
  
  nav a:hover{
    background-color: #bef049;
    color: #0b1421;
  }
  
  
   .open-slide{
    display: none;
    font-size: 30px;
    color: #fff;
  }
  
  .open-slide:hover{
    color: #93e923;
    cursor: pointer;
  }
  
  ion-icon{
    color: #fff;
    font-size: 25px;
  } 



  
  
 /*menu icon*/
.menu-icon{
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 5px;
cursor: pointer;
z-index: 200;
transition: 0.3s;
}

.menu-icon div{
display: block;
background-color: #fff;
height: 2px;
width: 24px;
margin: 5px;
transition: 0.3s;
}

.move .line1{
transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
opacity: 0;
}
.move .line3{
transform: rotate(45deg) translate(-5px,-5px);
}






/* small devices */
@media screen and (max-width: 711px){
.navbar{ 
  position: absolute;
  top: 0;
  right: -100%;
  width: 170px;
  height: 400px;
  background: #02070f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;   
 
}

.open-menu{/* this is from Js */
  right: 0;
}

.nav-link{
  display: block;
  margin: 1rem 0;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu-icon{
display: block;
}

.current a{
  background-color: none;
  color: #0b1421;
}

}






/* small devices */
@media screen and (max-width: 711px){
.navbar{ 
  position: absolute;
  top: 0;
  right: -100%;
  width: 170px;
  height: 400px;
  background: #02070f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;   
 
}

.open-menu{/* this is from Js */
  right: 0;
}

.nav-link{
  display: block;
  margin: 1rem 0;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu-icon{
display: block;
}

.current a{
  background-color: none;
  color: #0b1421;
}

}




.contactnow{
  color: #93e923;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 2px solid #93e923;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.35s;
  margin-top: 1rem;
} 
.contactnow:hover,
.contactnow:focus{ 
  color: #02070f;
  background: radial-gradient(circle,#93e923 0.2em, transparent 0.3em) 6em 6em/1em 1em, radial-gradient(circle, #93e923 0.2em, transparent 0.3em) 0 0/1em 1em;
  transition-delay: 0.2s;
  animation: ani500 0.6s forwards;
}
@keyframes ani500{
  100% { background-size: 2.375em 2.375em, 0.1em 0.1em; }
}






/* home */
.home{
  background:url("../img/pp.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffffff;
min-height:520px;
  position: relative;
  z-index: 0;
}

.home::before{
  content: '';
  background-color: rgba(44, 62, 80, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}

/* slider */
.contai{
  /* margin-top: 1rem; */
  height: 100vh;
  /* height: 700px; */
  width: 100%;
  display: flex;
}

.contai .info{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideInFromBottom 1s ease-in;
  /* align-items: center; */
}

.info__contai{
  /* max-width: 400px; */
  width: 100%;
}

.info__contai .first-camp{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.info__contai .bold-name{
  /* font-size: 40px; */
  font-size: 52px;
  color: #a6e676;
  font-weight: bold;
}

.info__contai .first-name,
.info__contai .second-name{
  font-weight: normal;
  /* font-size: 20px; */
  font-size: 30px;
  color: #fff !important;
}

.info__contai .design-camp{
  display: flex;
  align-items: center;
  /* font-size: 17px; */
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info__contai .first-camp .check-me-out{
  background-color: #0b1421;
  padding: 4px;
}
.info__contai .first-camp .sub-second-name{
  /* color: #fff; */
  background-color: #74bb16;
  padding: 4px;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.sliderSlide__area{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* settings for hidden sliderSlides */
.sliderSlide .personPer{
  display: none;
  color: #000;
}

.sliderSlide .personPer img{
  position: absolute;
}

.sliderSlide__area .sliderSlide{
  height: 100vh;
  /* height: 700px; */
  width: 100%;
}

/* settings for active slide */
.sliderSlide__area .personPer.show{
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.sliderSlide .personPer.show img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: moving;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
}

@keyframes moving{
  0%{
      right: -600px;
  }
  100%{
      right: 0;
  }
}

.sliderSlide .personPer.show .personPer__info{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 300px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 30px;
  animation: showInfo;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes showInfo{
  0%{
      transform: scale(0);
  }
  50%{
      transform: scale(0.5);
  }
  100%{
      transform: scale(1);
  }
}

.personPer__info h3{
  color: #fff;
  margin-bottom: 3px;
}

.personPer__info .sub-h3{
  color: #02070f;
  font-weight: bold;
}

/* .personPer__info span{
  color: #f72585;
} */


.personPer .personPer-id{
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  width: 240px !important;
  border-radius: 70px !important;
  color: #000;
}

.personPer .personPer-id .img{
  width: 45px;
  background-color: #93e923;
  border-radius: 100%;
  left: 1rem;
  top: 1rem;
}

.personPer-id  .major-camp{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.personPer-id .personPer-id-title{
  font-weight: bold;
}

.personPer-id-subCamp{
  display: inline-flex;
  justify-content: space-between;
  font-size: smaller;
}

.personPer-id-subCamp .personPer-id-rate{
  display: flex;
  align-items: center;
  gap: 1px;
}

.personPer-id-subCamp .personPer-id-rate .bx{
  color: #ff8b00;
}

.bottomBott{
  width: 100%;
  height: 20vh;
  display: none;
}






@media screen and (max-width: 2660px){
  .contai{
    height: 660px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 660px;
  }

  .info__contai .bold-name{
    font-size: 50px;
  }
}


@media screen and (max-width: 1271px){
  .contai{
    margin-top: 2rem;
    height: 640px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 640px;
  }

  .info__contai .bold-name{
    font-size: 48px;
  }
}


@media screen and (max-width: 1227px){
  .contai{
    height: 620px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 620px;
  }

  .info__contai .bold-name{
    font-size: 46px;
  }
}

@media screen and (max-width: 1191px){
  .contai{
    height: 600px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 600px;
  }

  .info__contai .bold-name{
    font-size: 44px;
  }
}

@media screen and (max-width: 1155px){
  .contai{
    height: 585px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 585px;
  }
}

@media screen and (max-width: 1127px){
  .contai{
    height: 575px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 575px;
  }

  .info__contai .bold-name{
    font-size: 42px;
  }
}


@media screen and (max-width: 1095px){
  .contai{
    height: 565px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 565px;
  }
}

@media screen and (max-width: 1079px){
  .contai{
    height: 555px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 555px;
  }

  .info__contai .bold-name{
    font-size: 40px;
  }
}

@media screen and (max-width: 1067px){
  .contai{
    height: 545px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 545px;
  }
}

@media screen and (max-width: 1043px){
  .contai{
    height: 535px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 535px;
  }
}

@media screen and (max-width: 1047px){
  .contai{
    height: 510px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 510px;
  }

  .info__contai .bold-name{
    font-size: 40px;
  }
  
  .info__contai .first-name,
  .info__contai .second-name{
    font-weight: normal;
    font-size: 20px;
  }
  
  .info__contai .design-camp{
    font-size: 17px;
  }
}



/* initial design */
@media screen and (max-width: 1031px){
  .info__contai .bold-name{
    font-size: 35px;
  }
}

@media screen and (max-width: 963px){
  /* .home{
    min-height:507px;
  } */

  .home{
    min-height:465px;
  }

  .contai{
    height: 450px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 450px;
  }

  .info__contai .bold-name{
    font-size: 35px;
  }
}

@media screen and (max-width: 879px){
  /* .home{
    min-height:498px;
  } */

  .home{
    min-height:450px;
  }

  .contai{
    height: 435px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 435px;
  }

  .info__contai .bold-name{
    font-size: 30px;
  }

  .contactnow{
    font-size: 16px;
  } 
}


@media screen and (max-width:815px){
  /* .home{
    min-height:484px;
  } */

  .home{
    min-height:437px;
  }

  .contai{
    height: 420px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 420px;
  }

  .info__contai .design-camp{
    font-size: 15px;
  }

  .contactnow{
    font-size: 14px;
  } 

  .sliderSlide .personPer.show .personPer__info{
    width: 250px;
    bottom: .5rem;
  }
}


@media screen and (max-width:791px){
  .home{
    min-height:520px;
  }

  .contai{
    height: 500px;
  }
  
  .sliderSlide__area .sliderSlide{
    height: 500px;
  }

  .sliderSlide__area{
    display: none;
  }

  .contai .info{
    width:100%;
    text-align: center;
  }
  
  .info__contai{
    max-width: 100%;
  }

   .info__contai .bold-name{
    font-size: 40px;
  }

  .info__contai .design-camp{
    font-size: 15px;
  }

  .contactnow{
    font-size: 18px;
  } 

  .design-camp{
    width: 270px;
    margin: auto;
  }
}

@media screen and (max-width:515px){
  .info__contai .bold-name{
    font-size: 35px;
  }

  .contactnow{
    font-size: 15px;
  } 
}

@media screen and (max-width:451px){
  .info__contai .bold-name{
    font-size: 30px;
  }

  .contactnow{
    font-size: 13px;
  } 
}

@media screen and (max-width:387px){
  .info__contai .bold-name{
    font-size: 28px;
  }
}

@media screen and (max-width:363px){
  .info__contai .bold-name{
    font-size: 25px;
  }

  .design-camp{
    width: 237px;
  }

  .info__contai .design-camp{
    font-size: 13px;
  }
}

@media screen and (max-width:243px){
  .info__contai .bold-name{
    font-size: 17px;
  }

  .info__contai .first-name,
.info__contai .second-name{
  font-size: 18px;
}

.design-camp{
  width: 170px;
}

.info__contai .design-camp{
  font-size: 9px;
}

.contactnow{
  font-size: 9px;
} 
}







 /* services section */
  
 .services{
  color: #fff;
  overflow: hidden;
}


.services_container{
  display: grid;
 grid-template-columns: repeat(3, 250px); 
 justify-content: center;
 column-gap: 1.8rem;
}

.services_content{
  position: relative;
  background-color: #02070f;
  padding: 6rem 0 2rem 2.5rem;
  border-radius: .25rem;
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px 1px #02070f;
}

.services_content:focus{ color: #fff; }
.services_content:hover{
    color: #ff8b00;
    box-shadow: 0 1px 5px 1px #cccccc;
}
.services_content:before{
    content: '';
    background: #1e2631;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.7, 0, 0.2, 1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.services_content:hover:before{
    transition-duration: 0.3s;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
.services_content .spans{
    display: block;
    position: relative;
    z-index: 1;
} 


.services_icon{
  display: block;
  font-size: 1.8rem;
  color: yellowgreen;
  margin-bottom: 1rem;
}

.services_title{
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services_button{
  color: yellowgreen;
  font-size: .875rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}

.services_button-icon{
  font-size: 1rem;
  transition: .3s;
}

.services_button:hover .services_button-icon{
  transform: translateX(.25rem);
}

.services_modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 40;   
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services_modal-content{
  width: 500px;
  position: relative;
  background-color: #1e2631;
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: .5rem;
}

.services_modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.services_modal-close:hover{
  color: #93e923;
}

.services_modal-title,
.services_modal-description{
  text-align: center;
}

.services_modal-title{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.services_modal-description{
  font-size: .875rem;
  margin-bottom: 2rem;
}


.services_modal-service{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: 10px;
}

.services_modal-icon{
  color: #8b670c;
  font-size: 1.1rem;
}

.services_modal-info{
  font-size: .875rem;
}

/* active modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}


/* large device */
@media screen and (max-width: 1019px){
  .services_container{
   grid-template-columns: repeat(3,220px);
  }
  
}

@media screen and (max-width: 921px){
  .services_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
   }

   .services_container{
    padding: 1.5rem;
   }

   .services_icon{
     font-size: 1.5rem;
   }
}

@media screen and (max-width: 697px){
  .services_container{
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 512px){
  .services_modal-content{
    width: 400px;
    padding: 3.5rem 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 428px){
  .services_modal-content{
    width: 350px;
  }
}

@media screen and (max-width: 380px){
  .services_modal-content{
    width: 100%;
    padding: 2.5rem 0.9rem 0.9rem;
  }
}






.work{
  background-color: #08101b;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


  .infinite-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    position: relative;
    white-space: nowrap;
    animation: slide 10s linear infinite;
    color: #fdba04;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  @keyframes slide {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

.work_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  justify-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}


.work_filters{
  margin: auto;
  width: 300px;
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.work_item{
  cursor: pointer;
  color: #ff8b00;
  padding: .25rem .75rem;
  font-weight: 500px;
  border-radius: .5rem;
}

.work_card{
  background-color: #1e2631;
  color: #fff;
  padding: 1.25rem;
  border-radius: .5rem;
  width: 300px;
}

.portfolio_item-details{
  display: none;
}

.work_img{
  border-radius: .5rem;
  margin-bottom: 1rem;
  width:100%;
}

.work_title{
  font-size: 1rem;
  font-weight: 500px;
  margin-bottom: .5rem;
}

.work_button{
  color: #ff8b00;
  font-size: .875rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}

.work_button-icon{
  font-size: 1rem;
  transition: .3s;
}

.work_button:hover .work_button-icon{
  transform: translateX(.25rem);
}

/* active-work */
.active-work{
  background-color: #ff8b00;
  color: #06152b;
}







.blob{
  position: absolute;
  width: 500px;
  height: 500px;
  /* background: #fff; */
  left: 0;
  bottom: 0;
}

.blob2{
  position: absolute;
  width: 500px;
  height: 500px;
  /* background: #fff; */
  right: 0;
  top: 0;
}

.blob3{
  position: absolute;
  width: 300px;
  height: 500px;
  /* background: #fff; */
  right: 0;
  bottom: 0;
}

.blob,
.blob2,
.blob3{
  z-index: -1;
}

/* .blob:nth-child(2){
  filter: blur(50px);
} */






@media screen and (max-width: 1226px){
  .blob3{
    top: 35rem;
  }
}

@media screen and (max-width: 1206px){
  .work_card{
    padding: .8rem;
    width: 250px;
  }
}

@media screen and (max-width: 1094px){
  .blob3{
    top: 32rem;
  }
}

@media screen and (max-width: 1026px){
  .work_card{
    width: 230px;
  }

  .blob,
  .blob2{
    width: 430px;
    height: 430px;
  }
}

@media screen and (max-width: 954px){
  .work_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .work_card{
    padding: 1.25rem;
    width: 300px;
  }
}

@media screen and (max-width: 842px){
  .work_card{
    padding: .8rem;
    width: 250px;
  }
}

@media screen and (max-width: 698px){
  .work_card{
    width: 230px;
  }
}

@media screen and (max-width: 630px){
  .work_container{
    display: block;
  }

  .work_card{
    padding: 1.25rem;
    width: 300px;
    margin: auto;
    margin-bottom: 2rem;
  }

  .blob3{
    top: 50rem;
  }
}

@media screen and (max-width: 410px){
  .work_filters{
    width: 280px;
  }
}

@media screen and (max-width: 394px){
  .work_card{
    width: 100%;
  }
}

@media screen and (max-width: 366px){
  .work_filters{
    width: 260px;
    column-gap: .15rem;
    font-size: small;
  }

  .work_item{
    padding: .15rem .65rem;
  }
}

@media screen and (max-width: 279px){
  .work_filters{
    column-gap: .10rem;
  }
  
  .work_item{
    padding: .15rem .55rem;
    font-weight: normal;
  }
}












/* portfolio popup */
.portfolio_popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 301;   
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.portfolio_popup.open{
  opacity: 1;
  visibility: visible;
}

.portfolio_popup-inner{
  background-color: #1e2631;
  color: #fff;
  width: 900px;
  border-radius: .5rem;
  padding: 2.5rem;
  position: relative;
}

.portfolio_popup-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.portfolio_popup-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.portfolio_popup-img{
  border-radius: .5rem;
  width:100%;
}

.portfolio_popup-subtitle{
  font-size: .875rem;
  margin-bottom: .25rem;
}

.details_title{
  font-size: 1.25rem;
  font-weight: 500px;
  margin-bottom: 1rem;
  color: #bef049;
}

.details_discription{
  font-size: .875rem;
  margin-bottom: 2rem;
}

.details_info li{
  margin-bottom: .75rem;
  text-transform: capitalize;
  font-size: .875rem;
}

.details_info li:last-child{
  margin-bottom: 0;
}

.details_info li span{
  font-weight: normal;
}

.details_info li a{
  text-transform: lowercase;
  color: #ff8b00;
}




@media screen and (max-width: 853px){
  
  .details_title{
    margin-bottom: .5rem;
  }
  
  .details_discription{
    margin-bottom: .7rem;
  }
  
  .details_info li{
    margin-bottom: .75rem;
  }
}


@media screen and (max-width: 797px){
  .details_title{
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  
  .details_discription{
    font-size: small;
    margin-bottom: .7rem;
  }
  
  .details_info li{
    margin-bottom: .4rem;
  }
}

@media screen and (max-width: 689px){
  .portfolio_popup-inner{
    width: 400px;
    padding: 1rem;
  }

  .portfolio_popup-content{
    display: block;
  }

  .details_discription{
    font-size: .875rem;
    margin-bottom: .7rem;
  }
}






 /* why me */

 /* .whyme-section{
  background: linear-gradient(to top,#283a53,#030913);
} */

.whyme{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  gap: 10px;
}

.whyme .me{
  display: grid;
  place-items: center;
  align-items: center;
  background: #1c2838;
  padding: 7px;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.whyme .me:nth-child(1){
  grid-column: span 2;
  grid-row: span 1;
}

.whyme .me:nth-child(4){
  grid-column: span 1;
  grid-row: span 2;
}


.whyme .Summary{
  padding: 7px;
  color: #ff8b00;
}


.whyme .me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}

.whyme .me:hover::before {
  background-color: #020b18;
  height: 100%;
  border-radius: 0px;
}

.whyme .me:hover .bx{
  background-color: #ff8b00;
  border: 1px solid #ff8b00;
  color: #fff;
  transform: scale(1.1);
}


.whyme .numbering{
  padding: 5px;
  display: block;
  color: yellowgreen;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #020b18;
}

.whymehead{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #8b670c;
  gap: 10px;
}

.whymehead p{
  color: #ff8b00;
}

.whymehead h3{
  font-size: 14px;
}

.whymehead .bx{
  padding: 6px;
  border: 1px dashed #fdba04;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}




.whyme .me-me{
  padding: 7px;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  
  background: #1c2838;
  border-color:  #bef049;
  animation: box 3s infinite;
}


.whyme .me-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}

.whyme .me-me:hover::before {
  background-color: #020b18;
  height: 100%;
  border-radius: 0px;
}

.whyme .me-me:hover .bx{
  background-color: #ff8b00;
  border: 1px solid #ff8b00;
  color: #fff;
  transform: scale(1.1);
}

@keyframes move{
  0%{ transform: translateX(0); }
  50%{ transform: translateX(5px); }
  100%{ transform: translateX(0); }
}
@keyframes box{
  0%{ box-shadow: none; }
  50%{ box-shadow: 0 0 20px #fdba04; }
  100%{ box-shadow: none; }
}



/* Css auto play */
.chosemeautotype{
  font-weight: bold;
}

.chosemeautotype:before{
  content: "";
  animation: animate infinite 20s;
}

@keyframes animate{
  0%{
      content: "Your work is important";
  }
  
  20%{
      content: "Every details are duly noted";
  }
  
   40%{
      content: "Disappointment, NO";
  }
  
   60%{
      content: "The delivery date is taken seriously";
  }
  
   80%{
      content: "Effective project revision";
  }
  
   100%{
      content: "Your satisfaction is the priority";
  }
}





@media screen and (max-width: 1249px){
  .whyme .me:nth-child(7){
    grid-column: span 2;
    grid-row: span 1;
  }

  .whyme .Summary:nth-child(8){
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media screen and (max-width: 772px){
  .whyme{
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }

  .whyme .me{
    grid-column: unset !important;
    grid-row:  unset !important;
  }

  .whyme .Summary:nth-child(8){
    grid-column: unset !important;
    grid-row: unset !important;
  }
}


@media screen and (max-width: 448px){
  .whyme .Summary{
     font-size: small;
  }
}

@media screen and (max-width: 406px){
  .whyme .Summary{
     font-size: smaller;
  }
}

@media screen and (max-width: 394px){
  .whyme .Summary{
     font-size: x-small;
  }
}










/* course */
 .course-section{
  background-color: #08101b;
  margin: 0;
 }

 .course-container{
  margin-top: 1rem;
  margin-bottom: 7rem;
 }

 .grand-course-home{
  width: 70%;
  float: left;
 }

 .grand-course-home .headline{
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #fff;
 }

 .course{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  background: #1a2533;
  border: none;
  /* border-top: 1px solid #727679; */
  padding: 7px 30px 7px;
  margin-bottom: 10px;
 }

 .course .course-img{
  /* width: 100px; */
  width: 46px;
}

.course .course-img img{
  width: 100%;
}

 .seconde-flex{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  gap: 15px;

 }

 .seconde-flex .hypatext{
  font-weight: bold;
  text-transform: capitalize;
 }

 .cover-home{
  display: inline-flex;
  align-items: center;
  /* gap: 70px; */
  gap: 60px;
 }

  .bx-span-one,
  .bx-span-two{
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

 .cover-home .bx{
  color: #727679;
 }

 .cover-home .link-span{
  display: inline-flex;
  align-items: center;
  /* gap: 40px; */
  gap: 30px;
 }

.cover-home .link-span .link-span-one,
.cover-home .link-span .link-span-two{
 background-color: #a6e676;
 /*  padding: 7px 20px 7px; */
 padding: 4px 17px 4px;
 border-radius: 15px;
 color: #000;
 transition: 2s;
}

.cover-home .link-span .link-span-one{
  background: transparent;
  color: #fff;
  border: 1px solid #a6e676;
}

.cover-home .link-span .link-span-one:hover{
  background-color: #a6e676;
  transition: 2s;
  color: #000;
}

.cover-home .link-span .link-span-two:hover{
  background: transparent;
  /* border: 1px solid #a6e676; */
  box-shadow: 0 0 20px #a6e676;
  transition: 2s;
  color: #fff;
}




.currency-rate{
  margin-top: 4rem;
}

.currency-rate h2{
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 18px;
}

.currency-rate table{
  border-collapse: collapse;
  width: 44.6rem;
  margin-bottom: 1rem;
}

.currency-rate table th{
  color: #ccc;
  text-transform: capitalize;
}

.currency-rate table td, th{
  border: solid 1px #ddd;
  text-align: left;
  padding: 8px;
}

.currency-rate table tr:nth-child(even){
  background-color: #ddd;
}







@media screen and (max-width: 1291px){
  .grand-course-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: none;
  margin-bottom: 3rem;
 }

 .course{
  gap: 50px;
  padding: 10px 40px 10px;
 }

 .course .course-img{
  width: 46px;
}

 .seconde-flex{
  gap: 20px;
 }

 .cover-home{
  gap: 90px;
 }

 .cover-home .link-span{
  gap: 50px;
 }

.cover-home .link-span .link-span-one,
.cover-home .link-span .link-span-two{
 padding: 4px 17px 4px;
}

.currency-rate table{
  width: 55.2rem;
}
} 


@media screen and (max-width: 1131px){
  .course{
    gap: 30px;
    width: 100%;
    padding: 7px 20px 6px;
   }

   /* .seconde-flex{
    gap: 20px;
   }
   */
   .cover-home{
    gap: 80px;
   }
  
   .cover-home .link-span{
    gap: 40px;
   }

  .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    padding: 4px 17px 4px;
  }

   .currency-rate{
    width: 100%;
  }

   .currency-rate table{
    width: 100%;
  }
}



@media screen and (max-width: 983px){
  /* .seconde-flex{
    gap: 20px;
   }
   */
   .cover-home{
    gap: 60px;
   }
  
   .cover-home .link-span{
    gap: 30px;
   }
}


@media screen and (max-width: 895px){
  /* .seconde-flex{
    gap: 20px;
   }
   */
   .cover-home{
    gap: 40px;
   }
  
   .cover-home .link-span{
    gap: 20px;
   }
}


@media screen and (max-width: 807px){
  .course{
    /* gap: 30px;
    width: 100%; */
    padding: 7px 10px 6px;
   }
  /* .seconde-flex{
    gap: 20px;
   }
   */
   .cover-home{
    gap: 20px;
   }
  
   /* .cover-home .link-span{
    gap: 20px;
   } */
}


@media screen and (max-width: 707px){
  .course{
    /* gap: 30px;
    width: 100%; */
    padding: 7px 10px 6px;
   }
  /* .seconde-flex{
    gap: 20px;
   }
   */
   .cover-home{
    gap: 10px;
   }
  
   /* .cover-home .link-span{
    gap: 20px;
   } */

   .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    padding: 2px 15px 2px;
    font-size: small;
  }
}


@media screen and (max-width: 643px){
  .cover-home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   }
}


@media screen and (max-width: 543px){
  .cover-home{
    gap: 5px;
   }

   .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    padding: 2px 10px 2px;
    font-size: smaller;
  }
}


@media screen and (max-width: 475px){
  .course{
    gap: 20px;
   }

  .course .course-img{
    width: 38px;
  }

   .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    font-size: x-small;
  }
}


@media screen and (max-width: 403px){
  .course{
    font-size: small;
    gap: 10px;
   }

   .cover-home{
    gap: 2px;
   }
}


@media screen and (max-width: 379px){
  .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    padding: 2px 5px 2px;
    font-size: xx-small;
  }
}

@media screen and (max-width: 316px){
  .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    padding: 2px 3px 2px;
  }
}


@media screen and (max-width: 311px){
  .grand-course-home .headline{
    font-size: 17px;
  }

  .seconde-flex{
    gap: 10px;
  }

  .cover-home {
    font-size: x-small;
  }

  .course .course-img{
    width: 30px;
  }
}


@media screen and (max-width:280px){
  .cover-home .link-span .link-span-one,
  .cover-home .link-span .link-span-two{
    font-size: 7px;
  }
  .seconde-flex .hypatext{
    font-size: 10px;
  }
}








/* service-side */

.service-side{
  width: 25%;
  float: right;
}

.service-side .headline{
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #fff;
 }

 .service-side .headline span{
  color: #93e923;
 }

.main-card{
  width: 250px;
  color: #fff;
  background-color: #052b47;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.main-card .work-card-img{
  width: 100%;
}

.main-card .camp-card-contents{
  margin: 5px;
}

.main-card .card-amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: x-small;
}

.main-card .exact-amount{
  color: #93e923;
}

.main-card .exact-day{
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.main-card .exact-day .bx{
  color: #ccc;
}

.main-card h2{
  font-size: 11px;
  margin-top: 8px;
  text-transform: capitalize;
}

.main-card .capital-id{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.main-card .card-div{
  display: inline-flex;
  align-items: center;
  font-size: x-small;
  gap: 10px;
  margin-top: 8px;
  text-transform: capitalize;
}

.main-card .card-div img{
  width: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.main-card .capital-id .sub-name{
  font-size: x-small;
}





@media screen and (max-width: 1291px){
  .service-side{
    /* background-color: #727679; */
    width: 100%;
    float: none;
  }
  
  .main-card{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 2rem;
    background-color: transparent;
  }

  .main-card .camp-card-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0px 9px 0px;
  }

  .main-card .work-card-img{
    width: 350px;
  }

  .main-card .card-amount{
    font-size: 21px;
  }

  .camp-card-contents h2{
    font-size: 25px;
  }

  .main-card .card-div{
    font-size: 21px;
    gap: 10px;
    margin-top: 0;
    text-transform: capitalize;
  }
  
  .main-card .card-div img{
    width: 50px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .main-card .capital-id .sub-name{
    font-size: 21px;
  }
}



@media screen and (max-width: 1096px){
  .camp-card-contents h2{
    font-size: 21px;
  }
}


@media screen and (max-width: 1024px){

  .main-card .card-amount{
    font-size: 20px;
  }

  .camp-card-contents h2{
    font-size: 20px;
  }

  .main-card .card-div{
    font-size: 20px;
  }

  .main-card .capital-id .sub-name{
    font-size: 20px;
  }
}


@media screen and (max-width: 920px){
  .main-card .card-amount{
    font-size: 18px;
  }

  .camp-card-contents h2{
    font-size: 18px;
  }

  .main-card .card-div{
    font-size: 18px;
  }

  .main-card .capital-id .sub-name{
    font-size: 18px;
  }
}


@media screen and (max-width: 860px){
  .main-card .card-amount{
    font-size: 16px;
  }

  .camp-card-contents h2{
    font-size: 16px;
  }

  .main-card .card-div{
    font-size: 16px;
  }

  .main-card .capital-id .sub-name{
    font-size: 16px;
  }
}

@media screen and (max-width: 800px){
  .media-quary-div{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .main-card{
    flex-direction: column;
    width: 300px;
    background-color: #07365a;
    border-radius: 10px;
  }

   .main-card .card-amount{
    font-size: small;
  }

  .camp-card-contents h2{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .main-card .card-div img{
    width: 30px;
  }

  .main-card .card-div{
    font-size: small;
  }

  .main-card .capital-id .sub-name{
    font-size: small;
  }

  .main-card .work-card-img{
    width: 100%;
  }
}


@media screen and (max-width: 698px){
  .camp-card-contents h2{
    font-size: 14px;
  }
}

@media screen and (max-width: 581px){

  .service-side .headline{
    text-align: center;
  }

  .media-quary-div{
    display: block;
  }

  .main-card{
    width: 350px;
    margin: auto;
    margin-bottom: 2rem;
  }

}


@media screen and (max-width: 451px){
  .main-card{
    width: 100%;
  }
}









 /* footer */
 .footer{
  position: absolute;
  bottom: 20px;
  z-index: 2000;
  width: 100%;
  left: 0;
  right: 0;
}

.footer p{
  text-align: center;
  color: #ff8b00;
}

footer{
  background-color: #08101b;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 200px;
}

footer .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background:url("../img/wave4.png");
  background-size: 1000px, 100px;
}

footer .wave.wave1{
  animation: animatte 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

footer .wave.wave2{
  animation: animatte2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

footer .wave.wave3{
  animation: animatte2 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}


footer .wave.wave4{
  animation: animatte2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}




@keyframes animatte{
  0%{
    background-position-x: 0;
  }

  100%{
    background-position-x: 1000px;
  }
}

@keyframes animatte2{
  0%{
    background-position-x: 0;
  }

  100%{
    background-position-x: -1000px;
  }
}







/* alart */
.come-out{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 310;
  top:0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}


.come-out .sub-come-out{
  background:url("../img/bkad.jpg") no-repeat;
  background-position:center;
  background-size: cover;
  color: white;
  /* height: 37%; */
  width: 450px;
  /* max-width: 500px; */
  /* display: grid;
  grid-template-columns: 45% 55%; */
  position: relative;
  z-index: 1;
  /* transition: all 0.3s ease 0s; */
}

.sub-come-out:before,
.sub-come-out:after{
  content: '';
  background-color: white;
  height: 4px;
  width: 35px;
  position: absolute;
  top: -3px;
  right: 10px;
  transition: all 0.5s ease 0s;
}

.sub-come-out:before{
  right: 85%;
  animation: moveM 1s infinite;
}

.sub-come-out:after{
  top: auto;
  bottom: -3px;
  right: auto;
  left: 10px;
  left: 80%;
  animation: moveM 1s infinite;
}

@keyframes moveM{
  0%{ transform: translateX(0); }
  50%{ transform: translateX(5px); }
  100%{ transform: translateX(0); }
}


.come-out h3{
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(186, 216, 126);
  /* margin-bottom: 2rem; */
}

.come-out .byBy{
  position: absolute;
  top:0;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.come-out .byBy:hover{
  color: #fff;
}

.sub-come-out .in-coming{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  padding-right: 10px;
}

.in-coming .in-comingsentence,
.line-up-topic{
  margin-top: 1rem;
}

.in-coming .in-comingsentence span{
  color: greenyellow;
}


.come-out .in-coming .line-up{
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
  margin-top: .5rem;
}

.come-out .in-coming .line-up span{
  padding: 4px;
  border-radius: 8px;
}

.come-out .in-coming .line-up .line-up-html{
  background-color: orangered;
}

.come-out .in-coming .line-up .css{
  background-color: rgb(70, 70, 252);
}

.come-out .in-coming .line-up .line-up_bootstrap{
  background-color: purple;
}

.come-out .in-coming .line-up .line-up_javascript{
  background-color: rgb(179, 179, 8);
}




@media screen and (max-width: 639px){
  .come-out .sub-come-out{
    width:70%;
  }
}

@media screen and (max-width: 507px){
  .come-out h3{
    font-size: 20px;
  }
}


@media screen and (max-width: 455px){
  .come-out h3{
    font-size: 17px;
  }

  .come-out .in-coming .line-up{
    font-size: small;
  }
}

@media screen and (max-width: 445px){
  .come-out h3{
    font-size: 14px;
  }

  .in-coming .in-comingsentence,
.line-up-topic{
  margin-top: .6rem;
}
}


@media screen and (max-width: 405px){
  .come-out h3{
    font-size: 14px;
  }


  .come-out .in-coming .line-up{
    font-size: x-small;
  }
}

@media screen and (max-width: 355px){
  .come-out h3{
    font-size: 11px;
  }

  .in-coming .in-comingsentence,
.line-up-topic{
  margin-top: .5rem;
  font-size: 13px;
}

  .come-out .in-coming .line-up{
    font-size: xx-small;
  }
}

@media screen and (max-width: 335px){
  .come-out h3{
    font-size: 11px;
  }

  .in-coming .in-comingsentence,
.line-up-topic{
  font-size: 12px;
}

  .come-out .in-coming .line-up{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    font-size: x-small;
  }
}


@media screen and (max-width: 307px){
  .come-out h3{
    font-size: 9px;
  }

  .in-coming .in-comingsentence,
.line-up-topic{
  margin-top: .3rem;
}
}

@media screen and (max-width: 271px){
  .come-out h3{
    font-size: 7px;
  }
}

